<!--**********Archivo cabecera****************
 * 
 * Cabecera de la página html. La contendrá todas las vistas
 * 
 * Autor: Pedro A. Muñoz
*/ -->

<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/estilos.css" rel="stylesheet">
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
    </head>
    <body>
    <div class="container">
        <div id="cabecera">
            <div id="titulo">
                <div id="logo"><img src="/public/imgs/inmuebles_logo.png" /></div>
                <div id="textotitulo">Inmuebles</div>
            </div>
            <a class="btn btn-secondary" href="/">Inicio</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/inmuebles">Inmuebles</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/tipos">Tipos de inmuebles</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/filtrar_inmuebles">Filtrar inmuebles</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/nuevo_inmueble">Nuevo inmueble</a>&nbsp;&nbsp;&nbsp;

            <% if(login == null || login == false){ %>
                <a href="/login">login</a>&nbsp; <span> / </span> &nbsp; <a href="/registro">registro</a>&nbsp; 
            <%}
            else{%>
                <a href="/">Salir</a>
            <%}%>
                  
        </div>            
    