<!--**********Archivo ficha_inmueble****************
 * 
 * Vista en html para mostrar un inmueble
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<h1>Ficha del inmueble</h1>

<% if (error == false){ %>

    <img src="/public/uploads/<%=inmueble.id%>/<%=inmueble.imagen%>" width="50%" height="50%"/>

    <ul>
        <li><strong>Descripcion</strong>:&nbsp;<%=inmueble.descripcion%></li>
        <li><strong>Tipo</strong>:&nbsp;<%=tipo.nombre%></li>
        <li><strong>Habitaciones</strong>:&nbsp;<%=inmueble.habitaciones%></li>
        <li><strong>Superficie</strong>:&nbsp;<%=inmueble.superficie%></li>
        <li><strong>Precio</strong>:&nbsp;<%=inmueble.precio%></li>
    </ul>

    <div style="float:left; margin-right:5px;">
        <form method="POST" action="/inmuebles?_method=PUT">
            <button class="btn btn-secondary" >Editar</button>
        </form>
    </div>
    <div>
        <form id="deleteInmueble" method="POST" action="/inmuebles/<%=inmueble.id%>?_method=DELETE">
            <input type="button" class="btn btn-secondary" value="Eliminar" onclick="borrarInmueble('<%=inmueble.id%>')" />
        </form>&nbsp;&nbsp;&nbsp;
    </div>
<% } 
    else{ %>
        <p> No se ha encontrado la ficha del inmueble</p>
<% } %>
<%- include('pie'); %>
