<!--**********Archivo filtrar_inmueble****************
 * 
 * Vista en html para realizar una búsquda de inmuebles
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<!-- <script type="text/javascript">
        function enviarForm() {
                window.location= 'http://localhost:8080/inmuebles/' + document.getElementById("precio").value + '/' + document.getElementById("superficie").value + '/' + document.getElementById("habitaciones").value;
        }
</script> -->

<h1>Formulario de búsqueda inmueble</h1>

<form id="form" name="form" action="/inmuebles/filtro" method="post" encType="multipart/form-data">

        <div class="form-group">
                <label for="precio">Precio máximo:</label>
                <input type="number" class="form-control" id="precio" name="precio" />
        </div>
        <div class="form-group">
                <label for="superficie">Superficie mínima:</label>
                <input type="number" class="form-control" id="superficie" name="superficie" />
        </div>
        <div class="form-group">
                <label for="habitaciones">Habitaciones mínimas:</label>
                <input type="number" class="form-control" id="habitaciones" name="habitaciones" />
        </div>
        
         <button type="submit" class="btn btn-secondary" >Enviar</button> 

</form>

<%- include('pie'); %>