<!--**********Archivo index****************
 * 
 * Vista principal en html
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>
<h1>Gestión de inmuebles</h1>
<p>Elige una opción del menú superior.</p>
<% if(error != null) {
        if(error == true){ %>
            <div id="nuevoError" class="alert alert-danger">
                    Error añadiendo el inmueble
            </div>
     <%}
        else{ %>
            <div id="nuevoOK" class="alert alert-success">
                    Inmueble añadido correctamente
            </div>
    <% }
} %>

<%- include('pie'); %>