<!--**********Archivo lista_inmueble****************
 * 
 * Vista en html para mostrar una lista de inmuebles
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<h1>Lista de inmuebles</h1>

<% if (inmuebles.length > 0){ %>
    <% inmuebles.forEach(function(inmueble) { %>
        <ul>
        <li><strong>Inmueble:</strong>&nbsp;&nbsp;<%= inmueble.descripcion %></li>
        <li><strong>Precio:</strong>&nbsp;&nbsp;<%= inmueble.precio %></li>
        <li><a href="/inmuebles/<%= inmueble.id %>">Ver ficha</a></li>
        </ul>
    <% }); %>
<%}
  else { %>
    <p>No se han encontrado inmuebles</p>
<% } %>

<%- include('pie'); %>