<!--**********Archivo nuevo_inmueble****************
 * 
 * Vista en html para loguearse en la web
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<h1>Formulario de login</h1>

<% if(login == false) {%>
        <div id="nuevoError" class="alert alert-danger">
                Usuario y/o contraseña incorrecto
        </div>
<%}%>

<div class="form-group">
<label for="login">Login:</label>
<input type="text" class="form-control" id="login" name="login" />
</div>
<div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" />
</div>
<button class="btn btn-secondary" onclick="login()">Enviar</button>

<%- include('pie'); %>