<!--**********Archivo nuevo_inmueble****************
 * 
 * Vista en html para añadir un inmueble
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<h1>Formulario de alta de nuevo inmueble</h1>

<% if (error == false){ %>

<form id="nuevoInmueble" action='http://localhost:8080/inmuebles' method='post' encType="multipart/form-data">

        <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" />
        </div>
        <div class="form-group">
                 <label for="tipo">Tipo:</label>
                 <select class="form-control" name="tipo">
                <% if (tipos.length > 0){ %>
                         <% tipos.forEach(function(tipo) { %>
                             <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
                        <% }); %>
                <%} %>
                </select> 
        </div>
        <div class="form-group">
                <label for="habitaciones">Habitaciones:</label>
                <input type="number" class="form-control" id="habitaciones" name="habitaciones" />
        </div>
        <div class="form-group">
                <label for="superficie">Superficie:</label>
                <input type="number" class="form-control" id="superficie" name="superficie" />
        </div>
        <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" />
        </div>
        <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" class="form-control" id="imagen" name="imagen" />
        </div>
        
        <input type="button" value="Enviar" class="btn btn-secondary" onclick="enviarInmueble()" />
        
</form> 

<% }
    else {%>
        <p>Error en la consulta</p>
    <%}%>

<%- include('pie'); %>