<!--**********Archivo nuevo_inmueble****************
 * 
 * Vista en html para registrarse en la web
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<h1>Formulario de registro</h1>

<form action='http://localhost:8080/usuarios/registro' method='post' encType="multipart/form-data">

    <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" />
    </div>
        
    <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login" name="login" />
    </div>
    <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" />
    </div>
    
    <button class="btn btn-secondary" >Registrarse</button>
        
</form> 

<%- include('pie'); %>