<!--**********Archivo resultado****************
 * 
 * Vista en html para mostar el resultado del borrado del inmueble
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<% if(error != null) {
        if(error == true){ %>
            <div id="nuevoError" class="alert alert-danger">
                    Error añadiendo el inmueble
            </div>
     <%}
        else{ %>
            <div id="nuevoOK" class="alert alert-success">
                    El Inmueble ha sido añadido correctamente
            </div>
    <% }
} %>

<%- include('pie'); %>