<!--**********Archivo tipos_inmueble****************
 * 
 * Vista en html para listar los tipos de inmuebles
 * 
 * Autor: Pedro A. Muñoz
************************************************/ -->

<%- include('cabecera'); %>

<h1>Tipos de inmuebles</h1>

<% if (error == false){ %>

    <% if (tipos.length > 0){ %>
        <% tipos.forEach(function(tipo) { %>
            <ul>
            <li><a href="inmuebles/tipo/<%= tipo.id %>"><%= tipo.nombre %></a></li>
            </ul>
        <% }); %>
    <%}
    else { %>
        <p>No se han encontrado tipos de inmueble</p>
    <% } %>
<% }
    else {%>
        <p>Error en la consulta</p>
    <%}%>
<%- include('pie'); %>