#cabecera
{
    margin-bottom: 30px;
}
#titulo
{
    float:left;
    width:100%;
    margin-bottom: 20px;
}
#logo
{
    float: left;
    width: 20%;
}

#imagen_inmueble
{

    width: 10px;
    height: 10px;
}
#texto_ficha
{
    float: left;
    font-size:1em;
    width: 70%;
}
#textotitulo
{
    float: left;
    font-size:3em;
    width: 70%;
}
